// Base theme template for reveal.js

/*********************************************
 * GLOBAL STYLES
 *********************************************/

	body {
		@include bodyBackground();
		background-color: $backgroundColor;
	}

	.reveal {
		font-family: $mainFont;
		font-size: $mainFontSize;
		font-weight: 200;
		letter-spacing: -0.02em;
		color: $mainColor;
	}

	::selection {
		color: $selectionColor;
		background: $selectionBackgroundColor;
		text-shadow: none;
	}

	.cf:before, .cf:after { content: " "; display: table; }
	.cf:after { clear: both; }
	.cf { *zoom: 1; }

	.dim { opacity: 0; transition: all .5s ease-in-out; }

	.label { line-height: 1.65em; padding: 0 0.5em; }

/*********************************************
 * HEADERS
 *********************************************/

	.reveal h1,
	.reveal h2,
	.reveal h3,
	.reveal h4,
	.reveal h5,
	.reveal h6 {
		margin: 0 0 20px 0;
		color: $headingColor;
		font-family: $headingFont;
		line-height: $headingLineHeight;
		letter-spacing: $headingLetterSpacing;
		text-transform: $headingTextTransform;
		text-shadow: $headingTextShadow;
	}

	.reveal h1 {
		text-shadow: $heading1TextShadow;
	}

/*********************************************
 * LINKS
 *********************************************/

	.reveal a:not(.image) {
		color: $linkColor;
		text-decoration: none;
		-webkit-transition: color .15s ease;
		   -moz-transition: color .15s ease;
		    -ms-transition: color .15s ease;
		     -o-transition: color .15s ease;
		        transition: color .15s ease;
	}
	.reveal a:not(.image):hover {
		color: $linkColorHover;
		text-shadow: none;
		border: none;
	}

	.reveal .roll span:after {
		color: #fff;
		background: darken( $linkColor, 15% );
	}

/*********************************************
 * IMAGES
 *********************************************/

	.reveal section img {
		margin: 15px 0px;

		-webkit-transition: all .2s linear;
		   -moz-transition: all .2s linear;
		    -ms-transition: all .2s linear;
		     -o-transition: all .2s linear;
		        transition: all .2s linear;
	}

	.reveal a:hover img {
		background: rgba(255,255,255,0.2);
		border-color: $linkColor;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
	}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/

	.reveal .controls div.navigate-left,
	.reveal .controls div.navigate-left.enabled {
		border-right-color: $linkColor;
	}

	.reveal .controls div.navigate-right,
	.reveal .controls div.navigate-right.enabled {
		border-left-color: $linkColor;
	}

	.reveal .controls div.navigate-up,
	.reveal .controls div.navigate-up.enabled {
		border-bottom-color: $linkColor;
	}

	.reveal .controls div.navigate-down,
	.reveal .controls div.navigate-down.enabled {
		border-top-color: $linkColor;
	}

	.reveal .controls div.navigate-left.enabled:hover {
		border-right-color: $linkColorHover;
	}

	.reveal .controls div.navigate-right.enabled:hover {
		border-left-color: $linkColorHover;
	}

	.reveal .controls div.navigate-up.enabled:hover {
		border-bottom-color: $linkColorHover;
	}

	.reveal .controls div.navigate-down.enabled:hover {
		border-top-color: $linkColorHover;
	}

/*********************************************
 * PROGRESS BAR
 *********************************************/

	.reveal .progress {
		background: rgba(0,0,0,0.2);
	}
	.reveal .progress span {
		background: $linkColor;

		-webkit-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		   -moz-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		    -ms-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		     -o-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		        transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
	}


/*********************************************
 * CUSTOM STYLES
 *********************************************/

	.corner-text {
		color: #FFF; font-family: "Open Sans", sans-serif; font-size: 1.6em;
		position: absolute; z-index: 1; tansition: all 0.3s ease-in-out;
	}

	/*    Logo   */
	.logo {
		background: url('http://frc.github.com/brand/assets/images/frantic_logo_white.png') no-repeat;
		display: block; position: absolute; top: 20px; left: 15px; text-indent: -9999em;
		width: 150px; height: 50px; z-index: 2; background-size: 100% auto;
	}
	.logo.inverted {
		background-image: url('http://frc.github.com/brand/assets/images/frantic_logo_black.png');
	}

	/*    Control panel   */
	#panel {
		background: linear-gradient(rgba(0,0,0,0.8), transparent); border-radius: 5px; color: #FFF; opacity: 0.8;
		font-family: "Open Sans", sans-serif; line-height: 1.6;
		padding: 0 1em; position: absolute; bottom: 100px; left: 15px;
		overflow: hidden; width: 500px; z-index: 2;
	}
	#panel .title { text-transform: uppercase; }
	#more-info a, a[href="#more-info"] {
		color: orange; transition: color .5s linear; text-decoration: none;
	}
	#more-info a:hover,	a[href="#more-info"]:hover { color: #FFF; }
	#show-controls {
		bottom: 0; left: 0; font-size: 150%; padding: 1.5em; opacity: 0;
		transition: all .5s ease-in-out; text-decoration: none;
	}
	#show-controls:hover { font-size: 180%; opacity: 1; }

	/*    Slide number   */
	#slide-number { top: 15px; right: 15px; }

	/*    Slides   */
	.slides .label { display: inline-block; padding: 2px; }
	.slides .image {
		box-shadow: 0 0 35px rgba(255,255,255,0.3);
		display: inline-block; padding: 5px;
	}
	.slides code { max-height: 500px; }
	.slides dt, .slides h1, .slides h2, .slides h3, .slides p { margin-bottom: 1em; }
	.slides h1, .slides h2, .slides h3, .slides h4, .slides h5, .slides h6 { word-break: normal; }
	.slides h1 { margin-bottom: 0.4em; text-transform: uppercase; }
	.slides h3 { text-transform: none; }
	.slides ol { margin-bottom: 1em; }
	.slides pre { line-height: 1.2em; margin: 0 0 1.2em; padding-left: 0.25em; width: 90%; }
	.slides table { margin: 0 auto; }
	.slides table th { font-size: 85%; font-weight: bold; line-height: normal; padding-bottom: 8px; text-shadow: none; }
	.slides table th, .slides table td { padding-right: 15px; }
	.slides table td { font-size: 13px; line-height: normal; padding-bottom: 5px; }

	.slides .toc ul { list-style: none; }
	.slides .toc ol ol { margin-top: 1em; margin-bottom: 0; }
	.slides .toc ol ol li { font-size: 0.7em; list-style: georgian; display: inline-block; margin: 0 1em 1em -2em; padding-left: 3em; }

	.slides .code-block pre,
	.slides .code-block .label { float: left; }

	.slides .label { background: #333; color: #ddd; }

	.toggle-slide { display: none; }

/*********************************************
 * STATES
 *********************************************/

	.label.black, .black .reveal .state-background {
		background: $blackBackground;
		color: $blackForeground;
	}

	.label.white, .white .reveal .state-background {
		background: $whiteBackground;
		color: $whiteForeground;
	}

	.label.cyan, .cyan .reveal .state-background {
		background: $cyanBackground;
		color: $cyanForeground;
	}

	.label.orange, .orange .reveal .state-background {
		background: $orangeBackground;
		color: $orangeForeground;
	}

	.label.red, .red .reveal .state-background {
		background: $redBackground;
		color: $redForeground;
	}

	.label.green, .green .reveal .state-background {
		background: $greenBackground;
		color: $greenForeground;
	}

	.label.gray, .gray .reveal .state-background {
		background: $grayBackground;
		color: $grayForeground;
	}

	.label.light-gray, .light-gray .reveal .state-background {
		background: $lightGrayBackground;
		color: $lightGrayForeground;
	}

	.label.dark-gray, .dark-gray .reveal .state-background {
		background: $darkGrayBackground;
		color: $darkGrayForeground;
	}
